@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.story {
    height: 100vh;
    display: flex;
    gap: 3rem;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
    padding-bottom: 9rem;
    position: relative;
    gap: 7rem;

    &__divider {
        z-index: 1;
    }

    &__link {
        font-size: 2rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        z-index: 1;
    }


    &__mod {
        position: absolute;
        width: 600px;
        height: 600px;

    }

    &--bold {
        font-weight: bold;
    }

    &--large {
        font-size: 1rem;
    }

    &--extralarge {
        font-size: 1.3rem;
    }


    &__katya {

        display: flex;
        padding-left: 10rem;
        z-index: 1;

        &-img {
            background-image: url(../../assets/images/katya.jpg);
            height: 200px;
            width: 200px;
            border-radius: 50%;
            background-size: 120%;
            background-position: center;

        }

        &-contacts {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding-left: 1rem;
            justify-content: center;
        }
    }


    &__alina {
        display: flex;
        z-index: 1;

        &-img {
            background-image: url(../../assets/images/alina.jpg);
            height: 200px;
            width: 200px;
            border-radius: 50%;
            background-size: 100%;
            background-position: center;
        }

        &-contacts {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding-right: 1rem;
            justify-content: center;

            &--l {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

.solution {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    width: 45%;
    padding-top: 3rem;

    &__p {
        font-size: .8rem;
        line-height: 2rem;
    }

    &__email {
        width: 70%;
        border: none;
        border-bottom: 1px solid black;
    }
}