$primary-color-dark: #141414;
$primary-color-grey: #C2C2C2;
$primary-color-white: white;
$primary-color-yellow: #FFEB0A;

$secondary-color-blue: #1D3272;

$primary-color-dark: #333;
$background-color: #d2d5d8;
$hr-gradient-start-color: rgba(255,255,255,1);
$hr-gradient-mid-color: rgba(210,213,216,1);
$hr-gradient-end-color: rgba(148,150,176,1);
$hr-gradient-angle: 165deg;
$hr-animation-duration: 0.75s;
$hr-animation-delay: 1s;
$hr-animation-fill-mode: forwards;