@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/typography.scss' as *;

.sec-box {
    background-color: $primary-color-white;
    height: 100vh;


    &__heading {
        font-family: 'Castoro';
        color: $primary-color-white;
        font-size: 8rem;
    }

    .sec-font {
        font-family: 'Castoro';

       
    }

    &__cont {
      display: flex;
    }
    
    &__columns {
      display: flex;
      flex-direction: row;
    }

    &__left {
      width: 50rem;
      padding: 4rem 0 0 4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    
    &__desc {
        font-family: 'Castoro';
        color: $primary-color-dark;
    }

    &__text {
        font-family: 'Castoro';
        font-size: 3.5rem;
        font-weight: 700;
    }


    button {
        transition: all 0.2s ease;
        background: $primary-color-white;
        width: 35%;
        margin-top: 2rem;
        border: 0;
        font-weight: bold;
        display: block;
        border-radius: 25px;
        position: relative;
        outline: none;
        padding: 3px;
        cursor: pointer;
        min-width: 200px;
      }
      
      .btn-text {
        color: $primary-color-dark;
        font-family: 'Castoro';
        font-size: 1.2rem;
        line-height: 1.2rem;
      }
      
      button:before,
      button:after,
      button span:before,
      button span:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 25px;
      }
      
      button:before {
        box-shadow: -10px -8px 20px #fff;
      }
      
      button:after {
         box-shadow: 10px 8px 20px #9496B0; 
      }
      
      .btn-inner {
        max-width: 250px;
        position: relative;
        background: $background-color;
        background: linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(210,213,216,1) 50%, rgba(210,213,216,1) 95%, rgba(148,150,176,1) 100%); 
        padding: 1rem 4rem;
        display: block;
        border-radius: 25px;
        position: relative;
      }
      
      button.active .btn-text {
        font-size: 0.95rem;
      }
      
      button.active .btn-inner:before {
        box-shadow: 4px 4px 10px inset #43488b;
        -webkit-box-shadow: 4px 4px 10px inset #42467f;
      }
      
      button.active .btn-inner:after {
        box-shadow: -4px -4px 10px inset #ffffff;
        -webkit-box-shadow: -4px -4px 10px inset #fff;
      }
      
      hr {
        background: linear-gradient($hr-gradient-angle, $hr-gradient-start-color 0%, $hr-gradient-mid-color 50%, $hr-gradient-end-color 100%);
        height: 1px;
        border: none;
        margin: 2rem 4rem;
      }
      
      @keyframes hr-animation {
        from {
          background: $background-color;
        }
        to {
          background: linear-gradient($hr-gradient-angle, $hr-gradient-start-color 0%, $hr-gradient-mid-color 50%, $hr-gradient-end-color 100%);
        }
      }

      
 .object {
  // position: absolute;
  height: 600px;
    width: 700px;
    padding-left: 1rem;
    margin-top: 5rem;
 }
      
   
}